body {
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
}

.post {
  margin: 0 auto;
  margin-top: 6%;
  background-color: #ffd3d3;
  padding: 2%;
  padding-top: .5%;
  width: 50%;
}

.post-title {
  text-align: center;
}

.post-content {
  background-color: white;
  text-align: left;
  width: 100%;
}

embed {
  text-align: left;
  padding: 5px;
}
