body {
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
  text-align: center;
}

.post {
  margin: 0 auto;
  margin-top: 6%;
  background-color: #ffd3d3;
  padding: 1%;
  padding-top: .5%;
  width: 80%;
}

.post-title {
  text-align: left;
  padding-left: 5%;
}

.post-content {
  background-color: white;
  text-align: left;
  width: 100%;
}

.footer {
  padding: 3%;
  margin: -75px 20 20 -100px;
  margin-bottom: -1000px; 
}

embed {
  padding: 5px;
}
